{% extends "base.html" %}

{% block content %}
<div class="card">
    <h1>Welcome to Byte Supply</h1>
    <p>Essential Bits, Exceptional Value</p>
    <p>Browse computers, phones, and more tech products.</p>
</div>

<br>

<h1 style="text-align: center;">Products</h1>

<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">

    {% for product in products %}
    <a href="{{ url_for('product_detail', id=product.id) }}" style="text-decoration: none; color: inherit;">
        
        <div class="product-card">
            
            <img src="{{ url_for('static', filename=product.image) }}" alt = "{{ product.image }}" width="100" height="50">
            
            <h2 style="color: lightblue;"">{{ product.name }}</h2>
            
            
            
            <p><strong>${{ product.price }}</strong></p>
            
            <p>Stock: {{ product.stock }}</p>

        </div>

    </a>
{% endfor %}

</div>
{% endblock %}