{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<section class="flex flex-col justify-center h-screen">
    <h1 class="font-bold text-center text-4xl">{{ product.name }}</h1>
    
    <div class="flex gap-200 justify-center pt-30">
        <p class="text-center pt-30">Image Placeholder</p>
        <div>
            <p class="text-center pb-30">${{ product.price }}</p>
            <p class="text-center pb-30">Stock: {{ product.stock }}</p>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Add to Cart
            </button>
        </div>

        
    </div>

    <p class="text-center pt-25">{{ product.description }}</p>
    
</section>

{% endblock %}