{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<section class="flex flex-col justify-center h-screen">
    <h1 class="font-bold text-center text-4xl">{{ product.name }}</h1>
    
    <div class="flex gap-200 justify-center pt-30">
        <img src="{{ url_for('static', filename=product.image) }}" alt = "{{ product.image }}" width="300">
        <div>
            <p class="text-center pb-30">${{ product.price }}</p>
            <p class="text-center pb-30">Stock: {{ product.stock }}</p>
            
            {% if current_user.is_authenticated %}    
                <button>Add to Cart</button>
            {% else %}
                <a href="{{ url_for('login') }}">Login to Buy</a>
            {% endif %}
        </div>

        
    </div>

    <p class="text-center pt-25">{{ product.description }}</p>
    
</section>

{% endblock %}